* {
    max-width: 1440px;
    max-height: 1622px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;

}


.container_cat {
    /* border: #3d3d3d solid 1px; */
    float: inline-start;

    width: 310px;
    height: 774px;
    margin-top: 171px;
    margin-left: 135px;

    text-decoration: none;
    font-family: inherit;
    background-color: #fbfbfb;
    color: #3d3d3d;

}

.cat {
    font-size: 18px;
    line-height: 16px;

}

.container_cat a {
    display: block;

    text-decoration: none;
    color: #3d3d3d;

    padding: 10px;
    line-height: 20px;
}

.categories {
    padding-left: 15px;
    font-size: 15px;
}



.container_top {
    /* border: #3d3d3d solid 1px; */
    float: inline-end;

    width: 838px;
    height: 23px;
    margin-left: auto;
    margin-top: 171px;

    text-decoration: none;
    color: #3d3d3d;
    background-color: #fbfbfb;

    font-family: inherit;
    font-size: 15px;
    line-height: 16px;

}

.container_top a:active {
    border-bottom: #46A358 solid 2px;
    padding-bottom: 5px;
}

.short {
    float: right;
    padding-right: 20px;
}